<!--NAV BAR-->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="glyphicon glyphicon-user"></span>
            </button>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#searchbar">
                <span class="glyphicon glyphicon-search"></span>
            </button>
            {{#link-to 'index'}}<a class="navbar-brand" ><img src="/images/logoLight.png" height="100%"/></a>{{/link-to}}
        </div>
        <div id="searchbar" class="collapse navbar-collapse">
            <div class="float-lg-middle col-lg-6 col-md-6 col-sm-5 search-form">
                {{input type="text" id="searchInput" class="form-control col-md-12 search-input" placeholder="Search" enter="querySearch"}}
            </div>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                {{#if session.isAuthenticated}}
                    {{#link-to 'user' model.username tagName="li" class="float-lg-right"}}
                        <a class="dropdown-toggle">{{model.username}}</a>
                    {{/link-to}}
                    <li class="float-lg-right"  {{action "signOut"}}>
                        <a class="dropdown-toggle">Log Out</a>
                    </li>
                {{else}}
                    {{#link-to 'login' tagName="li" class="float-lg-right"}}
                        <a class="dropdown-toggle">Log In</a>
                    {{/link-to}}
                {{/if}}
            </ul>
        </div>
    </div>
</div>
<!--END NAV BAR-->
<div class="container" id="body">
    {{outlet}}
</div>
<footer>
    <div class="container">
        <div class="row text-center">
           &copy; 2017 CineR8 
           &bullet; 
           {{#link-to 'about'}}About{{/link-to}}
           &bullet;
           {{#link-to 'privacy-policy'}}Privacy Policy{{/link-to}}
           &bullet;
           <a href="https://themoviedb.org"><img class="footer" src="/images/poweredBy.png" height="50px"/></a>
           &bullet;
           {{#link-to 'donate'}}Donate{{/link-to}} 
           &bullet;
           <a href="mailto:contact@ciner8.com">Contact</a> 
           &bullet;
           <a href="https://github.com/JaxonWright/movie-rater-ember/">Source</a>
           &bullet;
           <a href="https://github.com/JaxonWright/movie-rater-ember/issues">Report Issues</a>
        </div>
    </div> 
</footer>

{{!--Load scripts at end for faster performance--}}
<!--Jquery-->
<script type="text/javascript" src="//code.jquery.com/jquery-1.10.0.min.js"></script>

<!-- Bootstrap -->
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.js"></script>
<script>
    $('.navbar-collapse a').click(function() {
        $(".navbar-collapse").collapse('hide');
    });
     $('.navbar-brand').click(function() {
        $(".navbar-collapse").collapse('hide');
    });
    $("#searchInput" ).on( "keydown", function(event) {
        if(event.which == 13) 
            $(".navbar-collapse").collapse('hide');
    });
</script>

