<div class="row">
    <div class="col-md-3 col-sm-4">
      <img id="poster" class="poster" alt="poster" src="https://image.tmdb.org/t/p/w185/{{model.movie.poster_path}}" width="190px" height="274px">
    </div>
    <div class="col-lg-7 col-md-6 col-sm-5">
      <h3 id="title"><strong>{{model.movie.title}}</strong></h3>
      <h4 id="tag">{{model.movie.tagline}}</h4>
      <p id="description">{{model.movie.overview}}</p>
      <br/>
      <p id="runtime"><strong>Runtime: </strong>{{model.movie.runtime}} minutes</p>
      <p id="release"><strong>Release Date: </strong>{{moment-format model.movie.release_date 'MMMM DD, YYYY' 'YYYY-MM-DD'}}</p>
      <p id="genres"><strong>Genres: </strong>
        {{#each model.movie.genres as |genre index|}}
          {{if index "• "}}  {{genre.name}}
        {{/each}}
      </p>
      <p id="trailers"><strong>Trailers:  </strong>
          <div class="btn-group trailers">
            {{#each model.movie.videos.results as |video index|}}
                <a href="//youtube.com/watch?v={{video.key}}" class="btn btn-xs">{{index}}</a>
            {{/each}}
          </div>
      </p>
       {{#if session.isAuthenticated}}
       <br/>
       {{#if (not model.userRating.value)}}
          {{#if (not model.wannaSee)}}
            <button class="btn btin-raised btn-standard" {{action "wannaSee" model}}>☐ Wanna See</button>
          {{else}}
              <button class="btn btn-raised btn-primary" {{action "dontWannaSee" model}}>🗹 Wanna See</button>
          {{/if}}
       {{/if}}
       <div id="userRating" class="panel panel-primary">
          <div class="panel-heading">
            <center><h3 class="panel-title">Your Rating</h3></center>
          </div>
          <div class="panel-body" id="userRating">
            {{#if model.userRating.value}}
              <center><h2 class="userRating"><strong>{{model.userRating.value}}</strong>/10</h2>
              <h5>{{star-rating item=model rating=model.userRating.value on-click=(action "updateRating") maxRating=10}}</h5>
              </center>
            {{else}}
              <center><h2 class="userRating">N/A</h2>
              <h5>{{star-rating item=model rating=0 on-click=(action "updateRating") maxRating=10}}</h5>
              </center>
            {{/if}}
          </div>
       </div>
       {{/if}}
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3">
      {{#if model.movieOMDb.imdbRating}}
       <div class="panel panel-default">
          <div class="panel-heading imdb">
             <center><h3 class="panel-title"><img src="../../images/imdb.png" width="35%"></h3></center>
           </div>
           <div class="panel-body" id="imdbRating"><center><h2><strong>{{model.movieOMDb.imdbRating}}</strong>/10</h2></center></div>
       </div>
       {{/if}}
       {{#if (eq model.movieOMDb.Ratings.1.Source 'Rotten Tomatoes')}}
       <div class="panel panel-default">
          <div class="panel-heading tomato">
             <center><h3 class="panel-title"><img src="../../images/rt.png" width="45%"></h3></center>
           </div>
           <div class="panel-body" id="imdbRating"><center><h2><strong>{{model.movieOMDb.Ratings.1.Value}}</strong></h2></center></div>
       </div>
       {{/if}}
       {{#if model.movieOMDb.Metascore}}
       <div class="panel panel-default">
          <div class="panel-heading meta">
             <center><h3 class="panel-title"><img src="../../images/meta.png" width="50%"></h3></center>
           </div>
           <div class="panel-body" id="imdbRating"><center><h2><strong>{{model.movieOMDb.Metascore}}</strong>/100</h2></center></div>
       </div>
       {{/if}}
       <div id="avgUserRating" class="panel panel-default">
          <div class="panel-heading tmdb">
            <center><h3 class="panel-title"><img src="../../images/tmdbg.png" width="25%"></h3></center>
          </div>
          <div class="panel-body" id="avgUserRating">
            <center><h2 id="avg"><strong>{{model.movie.vote_average}}</strong>/10</h2></center>
          </div>
       </div>
      
    </div>
</div>